        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
            transition: all 0.5s;
        }
        .studio{
            font-size: 2rem;
            color: var(--titulo_color);
        }
        :root{
            --botoes_bg:rgb(68, 52, 255);
            --titulo_color:#6d9994;
            --bodybg:white;
            --vantagensbg:#6eae97;
            --geral_color:rgb(0, 0, 0);
            --cards:rgb(255, 255, 255);
            --subtitulos:rgb(142, 142, 142);
            --hrs:rgb(172, 169, 169);
            --cards_border:rgb(113, 174, 185);
            --footer:#6d9994;
        }
        .dark{
            --botoes_bg:rgb(68, 52, 255);
            --titulo_color:#81c5bd;
            --bodybg:rgb(30, 30, 37);
            --vantagensbg:#6eae97;
            --geral_color:rgb(255, 255, 255);
            --cards:rgb(55, 55, 61);
            --subtitulos:rgb(172, 171, 171);
            --hrs:rgb(172, 169, 169);
            --cards_border:rgb(64, 64, 83);
            --footer:rgb(78, 78, 88);

        }
        a{
            text-decoration: none;
        }
        html{
            scroll-behavior: smooth;
        }
        .menu ul{
            display: flex;
            list-style: none;
            justify-content:space-around;
            padding: 20px 40px;
            
        }
        .menu{
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: relative;
            box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.095);
        }
        .menu a{
            width: 100%;
            padding: 20px 40px;
            position: relative;
            color: var(--geral_color);
        }
        .menu a::after{
            position: absolute;
            background-color: var(--titulo_color);
            left: 0;
            bottom: 0;
            width: 0%;
            height: 3px;
            content: '';
            transition: all 1s;
            border-radius: 40px;
        }
        .menu a:hover::after{
            width: 30%;
            left: 70%;
        }
        .sla{
           object-fit: cover;
           width: 100%;
           height: 100%;
           position:relative;
           border-radius: 30px;
        }
        .container{
            width: 90%;
            margin-top: 100px;
            border: none;
            border-radius: 30px;
            position: relative;
            display: flex;
            height: 80vh;
            justify-content: end;
            align-items: center;
           
        }
        .content{
            padding: 20px;
            text-align: center;
            box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.179);
            border-radius: 20px;
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 500px;
            background-color: var(--cards);
        }
        .menu2{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .menu2 ul{
            display: grid;
            grid-template-columns: 250px 250px 250px;
            gap: 100px;  
            justify-content: space-around;
            max-width: 80%;
            list-style-type: none;
        }
        .menu2 li{
            color: var(--geral_color);
            background-color: var(--cards);
            border-radius:20px;
            box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.212);
            text-align: center;
            transition: all 0.5s;
            cursor: pointer;    
            padding: 20px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .tabela{
            display: flex;
            justify-content: space-around;
            color: white;
            padding: 10px 0px;
        }
        footer{
            padding: 50px;
            margin-top: 100px;
            background-color: var(--footer);
            display: grid;
            grid-template-columns: 1fr 2fr;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 40px;
        }
        .conteudo1{
            text-align: center;
            padding: 20px;
        }
        section hr{
            width: 80%;
            margin: auto;
            height: 3px;
            background-color: var(--hrs);

            border: none;
            border-radius: 50px;
        }
        .voltar{
            position: relative;
            box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.11);
            width: 40px;
            height: 40px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            transition: all 0.5s;
            cursor: pointer;
        }
        .voltar:hover{
            transform: scale(1.1);
        }
        .menu1 a{
            text-decoration: none;
            color: white;
        }
        li a{
            color: var(--geral_color);
        }

        header{
            max-height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        section{
            margin-top: 30vh;
            display: flex;
            justify-content:space-around ;
            width: 100%;
            padding: 30px;
        }
        .conteudo_sobreosite{
            width: 60%;
            border-radius: 70px;
            margin-left: 50px;
            background-color: var(--bodybg);
            padding: 20px;
        
        }
        .imagem_doconteudo{
            width: 260px;
            height: 260px;
            position: relative;
            background-color: var(--vantagensbg);
            box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.185);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
        }
        .imagem_doconteudo_dentro{
            width: 210px;
            height: 210px;
            position: relative;
        }
        .corpo{
            box-shadow: 2px 2px 7px 6px rgba(0, 0, 0, 0.128);
            background-color: white
        }
        .conteudo_principal{
            margin-top: 30vh ;
        }
        body{
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: var(--bodybg);
            color: var(--geral_color);
        }
        .icone_devoltar{
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        .vantagens{
            margin-top: 30vh;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .imagem_de_satisfação img{
            position: relative;
            border-radius: 10px;
            width: 700px;
            box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.164);
        }
        .mais_sobre_as_vantagens{
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            padding: 20px;
            position: relative;
        }
        .logo{
            width: 20vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .precos{
            margin-top: 20px;
        }
        .premium_icon{
            width: 50px;
            height: 50px;
        }
        .whatsapp_icon{
            width: 50px;
        }
        .contato{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            text-align: center;
        }
        .numero{
            transition: all 0.7s;
            padding: 10px;
            border-radius: 10px;
        }
        .numero:hover{
            box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.144);
        }
        .rede{
            width: 30px;
        }
        .rede_cont{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-bottom: 10px;
        }
        .botao a{
            color: white;
            width: 100%;
            height: 100%;
            padding: 7px;
            border-radius: 10px;
        }
        .botao{
            color: white;
            background-color: var(--botoes_bg);
            padding: 7px;
            width: fit-content;
            border-radius: 7px;
            cursor: pointer;
            transition: all 0.5s;
            margin: auto;
        }
        .botao:hover{
            background-color: rgb(41, 32, 139);
        }
        .topo{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .linha1{
            border-radius: 50px;
            width: 90%;
            margin: auto;
            border: solid 1px rgba(128, 128, 128, 0.199);
            margin-bottom: 20px;
        }
        a{
            text-decoration: none;
            color: white;
        }

        .conteudo_dos_profissionais{
            margin-top: 20px;
            padding: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            column-gap: 50px;
        }
        .imagem{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            z-index: 2;
            
        }
        .conteudo_dos_profissionais img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 50%;
           
        }
        .conteudo_do_medico{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 300px;
        
        }
        .perfil_do_profissional{
            background-color: var(--cards);
            padding: 20px;
            padding-top: 40px;
            width: 250px;
            border-radius: 20px;
            border: solid 4px var(--cards_border);
            margin-top: 10px;
            z-index: 0;

        }
        .história_da_clinica{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 30vh;
        }
        .imagem_da_clinica{
            width: 100%;
            background-image: url(studio.jpg);
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: 100px;
        }
        .texto_da_história{
            padding: 150px;
            text-align: center;
        }
        .conteudo_da_história:nth-child(even){
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 20px;
        }
        .conteudo_da_história:nth-child(odd){
            display: grid;
            grid-template-columns: 1fr 2fr;
            direction: rtl;
            text-align: left;
            gap: 20px;
        }
        .conteudo_da_história{
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 20px;
        }
        .containers_da_história{
            margin-top: 50px;
        }
        .texto_da_história hr{
            width: 90%;
            margin: auto;
            background-color: rgba(173, 173, 173, 0.5);
            margin-top: 30px;
            height: 2px;
            border: none;
        }
        .imagens_da_história{
            width: 30vw;
            max-width: 400px;
            border-radius: 20px;
            box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.205);
        }
        .qm_somos{
            margin-top: 30vh;
        }
        .medicos{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 100px;
            padding: 60px;
            box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.097);
            border-radius: 30px;
            background-color: var(--cards);
        }
        .scroll_topo{
            width: 50px;
            height: 50px;
            z-index: 10;
            top:85%;
            left: 92%;
            box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.226);
            border-radius: 50%;
            position: fixed;
        }
        .scroll_topo img{
            width: 100%;
            height: 100%;
            z-index: 10;
            border-radius: 50%;
        }
        .inicio{
            margin-top: 30vh;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 100px;
        }
        .inicio h1{
            font-size: 4rem;
            color: var(--titulo_color);
        }
        .Infos{
            
            width: 700px;
        }
        .subtitulo{
            font-size: 1.5rem;
            color: var(--subtitulos);
        }
        .inicio img{
            width: 30vh;
        }
        .inicio_botao{
            background-color: var(--botoes_bg);
            width: fit-content;
            padding: 7px;
            border-radius: 7px;
            margin-top: 40px;
        }
        .sol{
            width: 20px;
            height: 20px;
            background-color: rgb(248, 194, 102);
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.7s;
            position: relative;
            box-shadow: 0px 0px 7px 2px rgba(246, 255, 0, 0.477);
        }
        .sol::after{
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: var(--bodybg);
            top: 2px;
            left: 27px;
            border-radius: 50%;
            transition: all 0.7s;
            
        }
        .sol:hover{
            box-shadow: none;
            background-color: rgb(59, 57, 71);
        }
        .sol:hover::after{
            left: 9px;
        }
        .formulario{
            display: grid;
            grid-template-areas: 
            "numero email" 
            "mensagem mensagem";
            gap: 20px;
            padding: 20px;
        }

        .formulario input{
            padding: 10px;
            border-radius: 5px;
            outline: none;
            border: none;
        }
        input[type=tel]{
            grid-area: numero;
        }
        input[type=emai]{
            grid-area: email;
        }
        textarea{
            grid-area: mensagem;
            padding: 10px;
            border-radius: 5px;
            outline: none;
            border: none;
        }
        .lua{
            width: 20px;
            height: 20px;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            position: relative;
            cursor: pointer;
            transition: all 0.7s;
            box-shadow: none;
        }
        .lua::after{
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: var(--bodybg);
            top: 2px;
            left: 7px;
            border-radius: 50%;
            transition: all 0.7s;

        }
        .lua:hover::after{
            left: 27px;
        }
        .lua:hover{
            box-shadow: 0px 0px 7px 2px rgb(255, 255, 255);
            background-color: white;
        }
        .redes img{
            width: 50px;
        }
        .redes{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;
            padding: 10px;
        }
        .redes_sociais{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
        }